<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>876210603521-lmjh6l5kua2rcech11akvq8b7hvl25c8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876210603521-lmjh6l5kua2rcech11akvq8b7hvl25c8</string>
	<key>API_KEY</key>
	<string>AIzaSyBYvxxfQEqcX5XoTsjq6_BFb4o7QjenDU0</string>
	<key>GCM_SENDER_ID</key>
	<string>876210603521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nakeel.IosFirstApp</string>
	<key>PROJECT_ID</key>
	<string>iosfirstapp-e0b4f</string>
	<key>STORAGE_BUCKET</key>
	<string>iosfirstapp-e0b4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876210603521:ios:97e66a4ce704967526e200</string>
</dict>
</plist>